body{
    background-color:palevioletred;
}

h1{
    text-align:center;
    color:crimson;
}

p{
    text-align:center;
}

.header{
    background-color:white
}

.photos{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.item {
    position:relative;
 }
 
 .item p {
     position : absolute;
     top:50%;
     left:50%;
     transform : translate(-50%,-50%);
     opacity : 0;
 }
 
 .item:hover p {
     opacity:1;
 }
 
 .item:hover img{
     opacity:0.33;
     transform:  scale(1.1);
 }
 